In [ ]:
import os
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from numpy.random import seed
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from keras.layers import Input, Dense
from keras.models import Model
from sklearn.preprocessing import StandardScaler
from keras import regularizers
import tensorflow as tf

In [ ]:
#input
# Data_set= pd.read_csv("/content/drive/MyDrive/bnetlab autoencoder_for_cancer_subtype master Data_Autoencoder_Final/COAD/COAD_data_1000_Features.csv")
# Data_set.head(n=20)

In [ ]:
# Data_set= pd.read_csv("/content/drive/MyDrive/bnetlab autoencoder_for_cancer_subtype master Data_Autoencoder_Final/BIC/data_BIC_F1000.csv")
# Data_set.head(n=10)

In [ ]:
# Data_set= pd.read_csv("/content/drive/MyDrive/bnetlab autoencoder_for_cancer_subtype master Data_Autoencoder_Final/KRCC/data_KRCC_F1000.csv")
# Data_set.head(n=10)

In [ ]:
#GBM dataset
Data_set= pd.read_csv("/content/drive/MyDrive/bnetlab autoencoder_for_cancer_subtype master Data_Autoencoder_Final/BGM/merged_data_GBM1.csv")
Data_set.head(n=10)

,Pacients,MIMAT0000276,MIMAT0000422,MIMAT0000259,MIMAT0000722,MIMAT0000265,MIMAT0000254,MIMAT0000763,MIMAT0001631,MIMAT0000232,...,SRPX,MSN,RBMX,TCN1,SLC28A1,DEFB132,RNASE6,HS3ST3A1,WWC3,ADAM21
0,TCGA-02-0001,9.392592,10.645090,7.047371,9.209868,10.290475,7.061550,9.380181,8.594188,7.631112,...,0.474558,0.324776,0.359630,0.699374,0.424462,0.452823,0.649674,0.015788,0.234666,0.511404
1,TCGA-02-0003,11.141487,11.451455,10.153875,8.994178,8.509851,10.643426,10.655397,9.136605,7.005229,...,0.062973,0.019848,0.177511,0.456037,0.419309,0.701632,0.854080,0.176694,0.025985,0.861851
2,TCGA-02-0006,10.522442,9.400623,8.731817,11.923277,8.570984,8.676059,10.421877,10.288321,7.085473,...,0.666104,0.397789,0.461506,0.489927,0.387956,0.448389,0.405931,0.219901,0.564780,0.670706
3,TCGA-02-0007,9.602496,9.159509,6.575941,7.911691,8.375262,9.232201,9.416578,8.924932,7.044198,...,0.708349,0.603458,0.539645,0.796214,0.072779,0.796398,0.875974,0.340851,0.635222,0.860101
4,TCGA-02-0009,8.532034,6.276079,6.679751,9.495614,10.738068,9.420282,8.908185,9.377109,6.749024,...,0.609338,0.581246,0.406396,0.745357,0.085710,0.836184,0.915404,0.235799,0.519875,0.762259
5,TCGA-02-0010,9.333336,11.371443,10.877762,8.925942,8.002888,8.682207,9.189493,9.539820,7.433712,...,0.194879,0.247747,0.158552,0.140732,0.939118,0.559444,0.919742,0.027090,0.195600,0.734648
6,TCGA-02-0011,10.275274,9.281300,8.375445,10.302686,8.117435,5.561333,9.271778,10.153307,6.648643,...,0.170719,0.184312,0.190201,0.116548,0.056722,0.243250,0.158511,0.259230,0.126963,0.762633
7,TCGA-02-0014,11.269848,10.981121,11.216677,8.517000,6.764281,10.289623,9.434102,11.750575,6.992022,...,0.047896,0.093907,0.079811,0.103346,0.722593,0.729578,0.060196,0.019139,0.058608,0.245021
8,TCGA-02-0021,9.210623,7.587682,8.418054,11.216787,11.803061,8.170770,9.241212,11.497929,8.102533,...,0.706152,0.582975,0.580356,0.701552,0.094151,0.545882,0.628569,0.015181,0.096659,0.559161
9,TCGA-02-0024,10.589721,13.112012,7.155055,11.502914,6.955143,10.383993,10.489349,12.416094,10.726009,...,0.170950,0.023457,0.067524,0.520732,0.496452,0.525043,0.466514,0.012582,0.037500,0.458607

In [ ]:
#Create a data-set with the string columns
#Pacients = Data_set['Pacients']
Pacients = Data_set.select_dtypes(include=['object'])

In [ ]:
#Create a data-set with the string columns
Pacients = Data_set['Pacients']
#Remove string column
Data_set.drop(['Pacients'], axis=1, inplace=True)
Data_set_scaled =minmax_scale(Data_set, axis = 0)
#Data_set_scaled = StandardScaler().fit_transform(Data_set)

In [ ]:
ncol = Data_set_scaled.shape[1]
ncol

1000

In [ ]:
#split the data set 0.8 for training and 20% for test
X_train, X_test = train_test_split(Data_set_scaled, train_size = 0.8, random_state = seed(2017))
len(X_test)

56

In [ ]:
encoding_dim = 100

In [ ]:
input_dim = Input(shape = (ncol, ))
# Encoder Layers

encoded2 = Dense(500, activation = 'tanh',activity_regularizer=regularizers.l1_l2(l1=0.000001,l2=0.00001))(input_dim)
#encoded3 = Dense(500, activation = 'relu',activity_regularizer=regularizers.l1(10e-5))(input_dim)
encoded3 = Dense(encoding_dim, activation = 'tanh')(encoded2)

# Decoder Layers

#decoded1 = Dense(500, activation = 'relu')(encoded3)
decoded1 = Dense(500, activation = 'tanh',activity_regularizer=regularizers.l1_l2(l1=0.000001, l2=0.00001))(encoded3)
decoded2 = Dense(ncol, activation = 'sigmoid')(decoded1)

In [ ]:
# Combine Encoder and Deocder layers
autoencoder = Model(inputs = input_dim, outputs = decoded2)

In [ ]:
# Compile the Model
autoencoder.compile(optimizer = 'adam', loss = 'binary_crossentropy')
#autoencoder.compile(optimizer = 'adam', loss = 'mean_squared_error')# BEST

In [ ]:
autoencoder.summary()

Model: "model"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 1000)]            0

 dense (Dense)               (None, 500)               500500

 dense_1 (Dense)             (None, 100)               50100

 dense_2 (Dense)             (None, 500)               50500

 dense_3 (Dense)             (None, 1000)              501000

=================================================================
Total params: 1,102,100
Trainable params: 1,102,100
Non-trainable params: 0
_________________________________________________________________

In [ ]:
#fit the model
autoencoder.fit(X_train, X_train, epochs = 50, batch_size = 100, shuffle = False, validation_data = (X_test, X_test))

Epoch 1/50
3/3 [==============================] - 5s 602ms/step - loss: 0.6954 - val_loss: 0.6643
Epoch 2/50
3/3 [==============================] - 0s 128ms/step - loss: 0.6551 - val_loss: 0.6280
Epoch 3/50
3/3 [==============================] - 0s 75ms/step - loss: 0.6241 - val_loss: 0.6072
Epoch 4/50
3/3 [==============================] - 0s 113ms/step - loss: 0.6081 - val_loss: 0.5958
Epoch 5/50
3/3 [==============================] - 0s 75ms/step - loss: 0.5986 - val_loss: 0.5887
Epoch 6/50
3/3 [==============================] - 0s 81ms/step - loss: 0.5913 - val_loss: 0.5819
Epoch 7/50
3/3 [==============================] - 0s 70ms/step - loss: 0.5845 - val_loss: 0.5743
Epoch 8/50
3/3 [==============================] - 0s 73ms/step - loss: 0.5776 - val_loss: 0.5680
Epoch 9/50
3/3 [==============================] - 0s 64ms/step - loss: 0.5709 - val_loss: 0.5626
Epoch 10/50
3/3 [==============================] - 0s 90ms/step - loss: 0.5656 - val_loss: 0.5580
Epoch 11/50
3/3 [==============================] - 0s 103ms/step - loss: 0.5613 - val_loss: 0.5542
Epoch 12/50
3/3 [==============================] - 0s 69ms/step - loss: 0.5575 - val_loss: 0.5509
Epoch 13/50
3/3 [==============================] - 0s 78ms/step - loss: 0.5545 - val_loss: 0.5487
Epoch 14/50
3/3 [==============================] - 0s 89ms/step - loss: 0.5519 - val_loss: 0.5469
Epoch 15/50
3/3 [==============================] - 0s 76ms/step - loss: 0.5500 - val_loss: 0.5456
Epoch 16/50
3/3 [==============================] - 0s 104ms/step - loss: 0.5488 - val_loss: 0.5447
Epoch 17/50
3/3 [==============================] - 0s 70ms/step - loss: 0.5478 - val_loss: 0.5446
Epoch 18/50
3/3 [==============================] - 0s 88ms/step - loss: 0.5472 - val_loss: 0.5443
Epoch 19/50
3/3 [==============================] - 0s 88ms/step - loss: 0.5469 - val_loss: 0.5433
Epoch 20/50
3/3 [==============================] - 0s 139ms/step - loss: 0.5460 - val_loss: 0.5434
Epoch 21/50
3/3 [==============================] - 0s 90ms/step - loss: 0.5456 - val_loss: 0.5440
Epoch 22/50
3/3 [==============================] - 0s 76ms/step - loss: 0.5456 - val_loss: 0.5433
Epoch 23/50
3/3 [==============================] - 0s 102ms/step - loss: 0.5446 - val_loss: 0.5428
Epoch 24/50
3/3 [==============================] - 0s 72ms/step - loss: 0.5440 - val_loss: 0.5420
Epoch 25/50
3/3 [==============================] - 0s 78ms/step - loss: 0.5432 - val_loss: 0.5422
Epoch 26/50
3/3 [==============================] - 0s 98ms/step - loss: 0.5431 - val_loss: 0.5413
Epoch 27/50
3/3 [==============================] - 0s 137ms/step - loss: 0.5424 - val_loss: 0.5416
Epoch 28/50
3/3 [==============================] - 0s 137ms/step - loss: 0.5420 - val_loss: 0.5411
Epoch 29/50
3/3 [==============================] - 0s 74ms/step - loss: 0.5416 - val_loss: 0.5409
Epoch 30/50
3/3 [==============================] - 0s 69ms/step - loss: 0.5413 - val_loss: 0.5406
Epoch 31/50
3/3 [==============================] - 0s 90ms/step - loss: 0.5406 - val_loss: 0.5407
Epoch 32/50
3/3 [==============================] - 0s 89ms/step - loss: 0.5404 - val_loss: 0.5403
Epoch 33/50
3/3 [==============================] - 0s 101ms/step - loss: 0.5396 - val_loss: 0.5400
Epoch 34/50
3/3 [==============================] - 0s 79ms/step - loss: 0.5392 - val_loss: 0.5400
Epoch 35/50
3/3 [==============================] - 0s 85ms/step - loss: 0.5389 - val_loss: 0.5396
Epoch 36/50
3/3 [==============================] - 0s 70ms/step - loss: 0.5384 - val_loss: 0.5393
Epoch 37/50
3/3 [==============================] - 0s 113ms/step - loss: 0.5380 - val_loss: 0.5395
Epoch 38/50
3/3 [==============================] - 0s 115ms/step - loss: 0.5379 - val_loss: 0.5393
Epoch 39/50
3/3 [==============================] - 0s 67ms/step - loss: 0.5374 - val_loss: 0.5388
Epoch 40/50
3/3 [==============================] - 0s 109ms/step - loss: 0.5367 - val_loss: 0.5390
Epoch 41/50
3/3 [==============================] - 0s 89ms/step - loss: 0.5369 - val_loss: 0.5384
Epoch 42/50
3/3 [==============================] - 0s 85ms/step - loss: 0.5359 - val_loss: 0.5381
Epoch 43/50
3/3 [==============================] - 0s 147ms/step - loss: 0.5356 - val_loss: 0.5376
Epoch 44/50
3/3 [==============================] - 0s 134ms/step - loss: 0.5348 - val_loss: 0.5375
Epoch 45/50
3/3 [==============================] - 0s 112ms/step - loss: 0.5346 - val_loss: 0.5380
Epoch 46/50
3/3 [==============================] - 0s 125ms/step - loss: 0.5343 - val_loss: 0.5372
Epoch 47/50
3/3 [==============================] - 0s 142ms/step - loss: 0.5339 - val_loss: 0.5376
Epoch 48/50
3/3 [==============================] - 0s 127ms/step - loss: 0.5335 - val_loss: 0.5369
Epoch 49/50
3/3 [==============================] - 0s 131ms/step - loss: 0.5331 - val_loss: 0.5376
Epoch 50/50
3/3 [==============================] - 0s 180ms/step - loss: 0.5333 - val_loss: 0.5376

In [ ]:
encoder = Model(inputs = input_dim, outputs = encoded3)
encoded_input = Input(shape = (encoding_dim, ))

In [ ]:
#Get the output
encoded_train = pd.DataFrame(encoder.predict(Data_set_scaled))
encoded_train = encoded_train.add_prefix('feature_')
encoded_train

9/9 [==============================] - 0s 3ms/step

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_90,feature_91,feature_92,feature_93,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99
0,0.637509,-0.791469,0.922578,0.996249,-0.107770,0.850343,-0.931551,0.934103,0.906633,-0.995345,...,-0.969081,-0.341027,-0.589559,0.776511,-0.882183,-0.864846,-0.912808,0.055737,0.812009,-0.922635
1,0.970593,-0.952775,0.300192,0.995555,-0.158404,-0.879095,0.350252,0.951708,0.677560,-0.998963,...,-0.936507,0.917813,-0.012857,0.947619,-0.540282,-0.763711,-0.823145,0.717304,0.777189,0.459140
2,0.945149,-0.695118,0.914068,0.996877,-0.486525,0.523096,-0.990430,0.899296,0.607496,-0.989423,...,-0.995076,-0.833615,-0.748485,0.859915,-0.893726,0.168598,-0.632788,-0.794751,0.891269,-0.862792
3,0.991881,-0.792388,0.728697,0.989570,0.338327,-0.654249,-0.992852,0.479593,0.274508,-0.977015,...,-0.934010,-0.941502,-0.923347,0.791943,-0.946291,0.887248,0.583319,-0.265582,0.582208,-0.951579
4,0.994404,-0.835252,0.040351,0.994490,0.568106,-0.657755,-0.944621,0.781729,0.499694,-0.986451,...,-0.960185,-0.875703,-0.573814,0.830840,-0.941787,0.833211,0.607393,-0.291570,0.393581,-0.871884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,0.890618,-0.883000,-0.947293,-0.349984,-0.813289,-0.067033,0.911626,0.943901,0.381618,-0.207373,...,0.464593,0.945695,-0.458101,0.681279,-0.850874,-0.560334,-0.033230,0.594147,0.867945,0.931962
272,0.966685,-0.914952,-0.962795,-0.867906,-0.382437,-0.179170,0.958799,0.943057,0.733314,0.222155,...,0.569370,0.864256,0.295705,-0.446506,-0.943053,0.415672,0.964259,-0.632885,0.828002,-0.135663
273,0.978777,-0.827958,-0.788720,0.478275,-0.220083,0.480510,-0.971603,0.902981,0.880970,0.586653,...,-0.870107,-0.899121,-0.736813,-0.818273,-0.975413,0.884828,0.846966,-0.037228,0.440461,-0.980260
274,0.802208,-0.766303,-0.938565,-0.867136,-0.777238,0.683855,0.806146,0.958271,0.867573,-0.163658,...,-0.580614,0.949458,-0.465057,0.205679,-0.842367,-0.779292,0.546718,-0.377787,0.917651,0.205884
275,0.951744,-0.617770,-0.614592,-0.482160,-0.665802,0.595115,-0.944604,0.895787,0.884727,0.389060,...,-0.908578,-0.900983,-0.747805,-0.877908,-0.964492,0.945318,0.978324,-0.327697,0.179553,-0.998933

In [ ]:
#adding the patients column
# encoded_train['Pacients'] = Pacients

# insert the new column at index 0 using .insert method
encoded_train.insert(0, 'Pacients', Pacients)

In [ ]:
#output dataset

print(encoded_train.shape)
encoded_train.head(6)

(276, 101)

,Pacients,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_90,feature_91,feature_92,feature_93,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99
0,TCGA-02-0001,0.637509,-0.791469,0.922578,0.996249,-0.107770,0.850343,-0.931551,0.934103,0.906633,...,-0.969081,-0.341027,-0.589559,0.776511,-0.882183,-0.864846,-0.912808,0.055737,0.812009,-0.922635
1,TCGA-02-0003,0.970593,-0.952775,0.300192,0.995555,-0.158404,-0.879095,0.350252,0.951708,0.677560,...,-0.936507,0.917813,-0.012857,0.947619,-0.540282,-0.763711,-0.823145,0.717304,0.777189,0.459140
2,TCGA-02-0006,0.945149,-0.695118,0.914068,0.996877,-0.486525,0.523096,-0.990430,0.899296,0.607496,...,-0.995076,-0.833615,-0.748485,0.859915,-0.893726,0.168598,-0.632788,-0.794751,0.891269,-0.862792
3,TCGA-02-0007,0.991881,-0.792388,0.728697,0.989570,0.338327,-0.654249,-0.992852,0.479593,0.274508,...,-0.934010,-0.941502,-0.923347,0.791943,-0.946291,0.887248,0.583319,-0.265582,0.582208,-0.951579
4,TCGA-02-0009,0.994404,-0.835252,0.040351,0.994490,0.568106,-0.657755,-0.944621,0.781729,0.499694,...,-0.960185,-0.875703,-0.573814,0.830840,-0.941787,0.833211,0.607393,-0.291570,0.393581,-0.871884
5,TCGA-02-0010,-0.802956,-0.742834,-0.470109,0.944717,0.441043,0.742132,-0.945372,0.976591,-0.805476,...,-0.936999,0.842677,-0.253506,0.907842,-0.554138,-0.893942,0.109199,-0.781387,0.970629,0.870754

In [ ]:
# encoded_train.to_csv("/content/drive/MyDrive/latentRepresentation_GBM_Sparse.csv", index=False)

In [ ]:
# encoded_train.to_csv("/content/drive/MyDrive/latentRepresentation_KIRC_Sparse.csv", index=False)

In [ ]:
# encoded_train.to_csv("/content/drive/MyDrive/latentRepresentation_BIC_Sparse.csv", index=False)

In [ ]:

# df = pd.read_csv('/content/drive/MyDrive/latent_COAD_mRNA_miRNA_DNA_sparse.csv')
# print(df.shape)